*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
     /* background-color: black;  */
      color: white;
}
#contain{
    height: 100vh;
    width: 100vw;
    background-color: black;
   
}
#page1{
     display: flex;
     max-width: 1300px;
     margin: auto;
    
     padding-right: 400px;


}
#logo{
    padding: 20px;
    padding-left: 70px;
}
#nave{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 650px;
    
}
#nave img{
    padding-left: 9px;
    
}
#nave a{
    justify-content: space-between;
    text-transform: uppercase;
    gap: 2px;
    margin-left: 22px;
    text-decoration: none;
    color: white;
    
}
#para{
    display: flex;
}
#left{
    height: 1000px;
    width: 1000px;
    /* background-color: red; */
    align-items: center;
    padding-top: 220px;
    padding-left: 90px;
}
#left h1{
    height: 100px;
    width: 400px;

    text-transform: uppercase;


}
#btn{
    
    display: inline-block;
    padding: 1rem 2.8rem;
    background: rgb(248, 112, 0);
    border-radius: 4rem;
    box-shadow:orange;
    font-size: 1rem;
    color: rgb(255, 253, 253);
    letter-spacing: 1rem;
    font-weight: 600;
    font-family: 'Courier New', Courier, monospace;
    transition: 1s;


}
#btn:hover{
    box-shadow: none;
    background-color: wheat;
}

#right{
    height: 1px;
    width: 1000px;
    /* background-color: red; */
}
#right img{
    height: 600px;
    width: 600px;
}
#img2{
    display: flex;
    align-items: center;
    justify-content: center;
    

    
}
#img2 img{
    height: 50vh;
    width: 20vw;
    padding: 12px ;
    
}
#contain2{
    height: 100vh;
    width: 100vw;

}
#contain3{
    height: 100vh;
    width: 100vw;
    
}
#contain3 h2{
    align-items: center;
    justify-content: center;
    padding-left: 522px;
    text-transform: uppercase;
}
#line{
    height: 1vh;
    width: 100vw;
    background-color: rgb(7, 7, 7);
    padding-left: 522px;
    align-items: center;
    justify-content: center;
    padding-left: 522px;
    text-transform: uppercase;

}
.row{
    display: flex;
    justify-content: space-between;
   
}
 .col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    justify-content: center;
    transition: transform 0.5s;
}
.col-4 img{
    height: 50vh;
    width: 20vw;
   
    
}
.col-4 p{
    height: 25px;
    width: 55px;
    border:2px solid black ;
    background-color: rgb(255, 106, 0);
    border-radius: 7px;
    transition: 1s;

}

.col-4 p :hover{
    background-color: antiquewhite;

}
.col-4 :hover{
    transform: translateY(-5px);
}
#contain4{
    height: 200vh;
    width: 100vw;
    /* background-color: blue; */
    
}
#contain4 h2{
    padding-left: 622px;
    text-transform: uppercase;

}
#product img{
    height: 50vh;
    width: 20vw;
    padding-left: 2px;

}

#row1,#row2,#row3{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#conatiner5{
    height: 100vh;
    width: 100vw;
   
    display: flex;
}

#right1 img{
    height: 70vh;
    width: 45vw;

}
#left1 {
    justify-content: center;
    align-items: center;
    padding-left: 100px;


}
#left1 h1{
    text-transform: uppercase;
}
